<%- include('./partials/header') %>
<link rel="stylesheet" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>    
</head>
<body>
<section id="hire">
    <h1>Get Certificate</h1>
    
    <form method="POST" action="/certificate/getCertificate">
	      <div class="field name-box 1">
		        <input type="text" name="firstName" id="name" placeholder="your Firstname ??"/>
        		<label for="name">FirstName</label>
		        <span class="ss-icon">check</span>
	      </div>

		  	<div class="field name-box 2">
				<input type="text" name="lastName" id="name" placeholder="your Lastname ??"/>
				<label for="name">lastName</label>
				<span class="ss-icon">check</span>
			</div>
			  
			<div class="field name-box 3">
		        <input type="text" name="portfolio" id="name" placeholder="PortFolio name "/>
        		<label for="name">portfolio</label>
		        <span class="ss-icon">check</span>
	      	</div>
	      

	      <input class="button" type="submit" value="Generate" />
  </form>
</section>


<%- include('./partials/footer') %>